target/META-INF/mule-src/customer-experience-api/src/main/mule/customer-experince-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="customer-experince-api-config" api="resource::096484fd-dcfd-4f60-9f58-aecc0e2e110f:customer-experince-api:1.0.1:raml:zip:customer-experince-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="customer-experince-api-main">
        <http:listener path="/api/*" config-ref="main_http_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customer-experince-api-config" />
    </flow>
    <flow name="customer-experince-api-console">
        <http:listener path="/console/*" config-ref="main_http_listener">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customer-experince-api-config" />
    </flow>
    <flow name="get:\loanstatus\(userid):customer-experince-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="782fec8b-1c72-497a-b5bf-306ade856f66" name="get-loan-status"/>
    </flow>
    <flow name="post:\Customer-Registration:application\json:customer-experince-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c631ff80-617c-4c27-8575-9e491ab48e78" name="post-customer-details"/>
    </flow>
    <flow name="post:\apply-loan:application\json:customer-experince-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="91fb63df-2cb8-47ee-99fa-bad5623a6344" name="post-apply-loan"/>
    </flow>
</mule>
